:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  --Very-dark-blue-main: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Very-dark-blue-main);
}

* {
  font-size: 62.5%;
  font-family: 'Outfit', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.container__card {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  background-color: var(--Very-dark-blue-card);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.container__card:hover{
  transform: translateY(-3%);
  transition: all .3s;
  box-shadow: rgba(17, 17, 26, 0.6) 2px 2px 16px;

}



.card__image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card__image img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.card__img--open{
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none;
  border-radius: 1.5rem;
  cursor: pointer;
  }

.card__img--open img{
  width: 5rem;
  height: 5rem;
  position: absolute;
  z-index: 999;
  opacity: 1;
}
.card__image:hover .card__img--open {
  display: flex;
  transition: all .5s;
  background-color: var(--Cyan);
  filter:alpha(opacity=70);
-moz-opacity:.70;opacity:.70;
  display: flex;
}
.card__content{
  display: flex;
  flex-direction: column;
}
.card__content h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--White);
}

.card__content>p {
  font-size: 2rem;
  color: var(--Soft-blue);
  font-weight: 300;
  line-height: 2.6rem;
}

.card__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .5rem;
  border-bottom: .2px solid var(--Very-dark-blue-line);
}

.card__ethereum,
.card-days {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.card__ethereum p {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--Cyan);
}

.card-days p {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--Soft-blue);
}

.card--footer {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: 1.5rem 0;

}

.footer-image {
  width: 4rem;
  height: 4rem;
}

.footer-image img {
  width: 100%;
  border: 1px solid var(--White);
  border-radius: 50%;
}

.card--footer span {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--Soft-blue);
  padding: 0 .4rem;
}

.card--footer p {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--White);
}